	html{
			height: 100%;
			width: auto;
		}
		body{
			background-image: url(https://images.unsplash.com/photo-1444212477490-ca407925329e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80);
			background-size: cover;
			background-position: center; 
			background-repeat: no-repeat;
			height: 100%;
			width: auto;
			scroll-behavior: none;
      margin: 0;
      font-family: 'Cabin', sans-serif;

		}
		.content{
			padding-top: 20%;
			text-align: center;
			color: white;
			text-shadow: 10px 20px 40px rgba(0,0,0,0.5);
			text-shadow: 0px 8px 10px rgba(0,0,0,0.8);
			text-shadow: 0px 10px 20px rgba(0,0,0,1);
		}
		h1{
			font-weight: 700;
			font-size: 5.3em;
      margin: 0;
    }
    h3{
      font-size: 25px;
      font-weight: 700;
    }
		hr{
			width: 400px;
			border-top: 1px solid #00B2FF;
			border-bottom: 1px solid rgba(0,0,0,0.2);
		}
		.topnav{
			background-color: #969696;
			overflow: hidden;
			align-items: center;

		}
		.topnav a{
			float: left;
			color: #f2f2f2;
			padding: 14px 16px;
			font-size: 17px;
			text-align: center;
			text-decoration: none;
			
		}
		/*.topnav a:hover {
       background-color: #ddd;
       color: black;
    }*/

     .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }
     .new:hover{ 
        background-color: #FF5D00;
        color: black;}







/*dropdown button property*/

/* Navbar container */
.topnav {
  overflow: hidden;
  background-color: #525252;
  font-family: Arial;
}

/* Links inside the navbar */
.topnav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 15px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
 .dropdown:hover .dropbtn {
  background-color: #FF5D00;
  color: black;
  bottom: 53px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
};







 /*login form property*/

{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #525252;
  border: none;
  /*cursor: pointer;*/
  float: right;
  color:  #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  outline: none;
}

.open-button:hover {
 background-color: #FF5D00;
 color: black;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
 /* position: fixed;*/
  top: 70px;
  bottom: 70px
  right: 25%;
  border: 5px solid #f1f1f1;
  z-index: 9;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*width: 80%;*/
  /*padding: 20px;*/
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.open-button:hover{
 background-color:#FF5D00;
}


.back{
	filter: blur(8px);
}

@media screen and (max-width: 300px) {
  .btn {
     width: 100%;
  }
}




/*singup form property*/

* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
#cleared {
  color: white;
  padding: 14px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  outline: none;
 }

#clear{
 
  background-color: #525252;
  border: none;
  float: right;
  color:  #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  outline: none;
}

#clear:hover{
  background-color: #FF5D00;
  color: black;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  padding: 14px 20px;
  float: left;
  width: 50%;
}
.signupbtn {
  background-color: #4CAF50;
}

/* Add padding to container elements */
.container {
  padding: 35px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover, .close:focus {
  color: #f44336;
  cursor: pointer;
}

 Clear floats 
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}












